@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: "Noto Sans TC";
	padding: auto;
}
img{
  max-width:90%;
  height:auto;
}

.btn {
  text-align: center;
  padding: 0.2rem;
  color:#fff;
  width:30%;
  outline: none;
  background-color: #27ae60;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

.btn:hover{
  background-color: #2ecc71;
}

.btn:active {
  background-color: #2ecc71;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}


.card{
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(250, 255, 199);
  cursor: grab;
  display: inline-block;
  transition: 0.5s;
  color: #ff6347;
  margin: auto;
  padding: 30px;
}
.card:hover {
  box-shadow: 5px 4px 10px rgba(51, 51, 102, 0.5);
  transform: translateY(-10px);
  color:#D12E28;
}

a:link{
  color:#d7e9ff;
}
a:visited{
  color:#5f7795;
}

a:hover{
  color:green;
}

a:active{
  color:#fd6d41;
}
img{
  display:none;
  padding: 0.5em;
  
}
.show{
  display:block;
}